# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------
.venv/
venv/
env/

# --------------------------------------------------
# Pytest
# --------------------------------------------------
.pytest_cache/

# --------------------------------------------------
# Playwright
# --------------------------------------------------
playwright-report/
test-results/

# --------------------------------------------------
# Allure
# --------------------------------------------------
artifacts/
allure-report/

# --------------------------------------------------
# IDE
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# OS Files
# --------------------------------------------------
Thumbs.db
.DS_Store

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------
.env

# --------------------------------------------------
# Python Coverage
# --------------------------------------------------
.coverage
htmlcov/

# --------------------------------------------------
# Misc
# --------------------------------------------------
*.tmp


# Playwright
playwright-report/
test-results/
browsers/